.chat-container {
    height:  -webkit-fill-available;
    width: 980px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 50px;
}

.chat {
    height:  -webkit-fill-available;
    border:1px solid black;
    box-shadow: 5px 10px;
    border-radius: 5px;
    position: relative;
    padding: 25px;
    background: white;
}

.chat-actions {
    float: left;
    padding: 25px;
    position: absolute;
    width: 95%;
    bottom: 0;
}
