* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: rgba(255, 230, 162, 0.51);
}

body {
    font: 13px Helvetica, Arial;
}


form {
    width: 100%;
}

form input {
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(254, 184, 88);
    color: white;
    border: none;
    padding: 10px;
}

